<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript:void(0)" class="nav-link">
        <!-- <clr-icon shape="lightbulb"></clr-icon> -->
        <span class="title">Examples</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="https://github.com/nagarsuresh/angular-threejs" class="nav-link nav-text">Source Code</a>
  </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" routerLink="./box" routerLinkActive="active">Box</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" routerLink="./donuts" routerLinkActive="active">Donuts</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>